.body {
  background-color: #151719;
  color: white;
}
.header {
  max-width: 1440px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 25px;
  margin: 0 auto;
}
.header h1 {
  color: white;
}
.main {
  max-width: 1440px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 25px;
  margin: 0 auto;
}
